body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0f172a;
    color: white;
    text-align: center;
}

header {
    background: #1e293b;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #38bdf8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0ea5e9;
}

footer {
    margin-top: 50px;
    padding: 10px;
    background: #1e293b;
}


.btn-whatsapp {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn-whatsapp:hover {
    background-color: #1ebe5d;
}
