body {
    font-family: Arial;
    margin: 0;
    background: #0f172a;
    color: white;
    text-align: center;
}

nav {
    background: #1e293b;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header {
    padding: 20px;
}

button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
}

.btn-whatsapp {
    display: inline-block;
    margin-top: 15px;
    padding: 12px;
    background: #25D366;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}
